* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto Mono", monospace;
    color: white;
    text-align: center;
    background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin: 5px 0px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  div.list-imgs-movies {
    display: flex;
    justify-content: center;
    
  }
  
  div#list-movies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    
    max-width: 1200px;
  }
  
  #list-movies img {
    margin: 10px;
    max-height: 250px;
  }

  .card-filme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 10px;
  }

  .card-filme button {
    border: none;
    border-radius: 5px;
    padding: 5px;

    color: #ffffff;
    background: #da1e26;
    font-weight: bold;

    cursor: pointer;
    transition: .3s all ease-in-out;
  }

  .card-filme button:hover {
    opacity: 0.6;
    transform: scale(1.1);
  }
  
  .form-wrapper {
    margin: 0 0 15px;
  }
  
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .form-wrapper button:hover {
    opacity: 0.8;
  }
  
  p {
    margin: 10px 0px;
  }

  .badge {
    margin: 0px 10px;
    transition: 0.2s all ease-in-out;
  }

  .badge:hover {
    transform: scale(1.1);
  }
